<?xml version="1.0"?>
<!--
/**
 * @package   F8_categorycleanup
 * @author    Ntabethemba Ntshoza
 * @copyright Copyright (c) 2023 F8
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="F8_CategoryCleanup" setup_version="1.0.0" />
</config>
